* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fbf6f2;
}

header {
  display: flex;
  align-items: flex-end;
  margin: 1.5rem;
}

header div.logo {
  display: flex;
  flex-grow: 3;
}

header div.logo img {
  width: 8vw;
  height: 8vw;
}

header section.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}

header section.social-icons img {
  width: 2.5vw;
  margin-left: 2rem;
}

@media screen and (max-width: 540px) {
  header div.logo img {
    width: 4rem;
    height: 4rem;
  }
  header section.social-icons img {
    width: 5vw;
    height: 5vw;
    margin-left: 1rem;
  }
}

nav {
  margin: 1rem auto;
  width: 70%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

nav ul a {
  color: #6c9f7f;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  border-radius: 25px;
  padding: 0.5rem;
}

nav ul a:hover {
  background-color: #e0e0e0;
}

nav ul a:active {
  background-color: #ddb789;
}

main .about {
  display: flex;
}

main .about .greeting {
  justify-content: center;
}

main .about .greeting h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.5rem;
  color: #444444;
  text-align: left;
  margin-top: 2.5rem;
  margin-left: 2rem;
  line-height: 4rem;
}

main .about .greeting h2 {
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  font-size: 1.5rem;
  color: #417a56;
  text-align: left;
  margin-left: 2rem;
}

@media screen and (min-width: 1065px) {
  main .about .greeting h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

main .about .introduction p {
  color: #444444;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-left: 2rem;
  text-align: left;
}

main .about .profile-picture {
  margin: 0 2rem;
  justify-self: flex-end;
}

main .about .profile-picture img {
  border-radius: 15px;
  margin-top: 3rem;
  width: 17rem;
}

main div.skills {
  display: flex;
  width: 100%;
  height: 18rem;
  margin-top: 2rem;
}

main div.skills section.headline {
  background-color: #6c9f7f;
  width: 17%;
}

main div.skills section.headline h2 {
  color: #fff;
  font-size: 2rem;
  margin-top: 30px;
  margin-left: 10px;
}

main div.skills section.skill-icons {
  width: 83%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #caddd1;
}

main div.skills section.skill-icons img {
  width: 5vw;
}

main section.project {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main section.project h2 {
  font-size: 2rem;
  color: #6c9f7f;
  margin-bottom: 1.5rem;
}

main section.project section.cards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}

main section.project section.cards div.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 300px;
  align-items: center;
  margin-bottom: 1.5rem;
}

main section.project section.cards div.card img {
  width: 20vw;
  height: 22vw;
}

@media screen and (max-width: 1141px) {
  main section.project section.cards div.card img {
    width: 40vw;
    height: 44vw;
  }
}

main section.project section.cards div.card h4 {
  margin: 1rem auto;
}

main section.project section.cards div.card a {
  text-decoration: none;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  color: #fbf6f2;
  background-color: #6c9f7f;
}

main div.contact {
  display: block;
  width: 100%;
}

main div.contact h2 {
  color: #6c9f7f;
  font-size: 2rem;
  text-align: center;
}

main div.contact form {
  display: block;
  text-align: center;
  margin: 0.5rem auto;
}

main div.contact form input {
  margin-bottom: 0.5rem;
}

footer {
  width: 100%;
  height: 10vw;
  background-color: #6c9f7f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer div.logo img {
  height: 4vw;
  width: 4vw;
}

footer section.social-contacts img {
  width: 2.5vw;
  height: 2.5vw;
  opacity: 0.4;
  margin: 0 0.5rem;
}

footer div.copyright {
  color: #55514e;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */