*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: #fbf6f2;
}


header{
    display: flex; 
    align-items:flex-end;
    margin: 1.5rem;

    div.logo{
    display: flex;
    flex-grow: 3;

        img{
         width: 8vw;
         height: 8vw;
        }
    }

    section.social-icons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
       
        img{
        width: 2.5vw;
        margin-left: 2rem;
        }    
    }
}

@media screen and (max-width:540px) {
    header{
        div.logo{
            img{
                width: 4rem;
                height: 4rem;
            }
        }
        section.social-icons{
            img{
                width: 5vw;
                height: 5vw;
              
                margin-left: 1rem;
            }
        }

        
    }
}


nav{
    margin: 1rem auto; 
    width: 70%;
    
    ul {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
     
       a{
         color: #6c9f7f; 
         text-decoration: none;
         font-family: 'Roboto', sans-serif;
         font-size: 1rem;
         border-radius: 25px;
         padding: 0.5rem;
         }

        a:hover {
           background-color: #e0e0e0;    
        }

        a:active {
            background-color: rgb(221, 183, 137);
        }

      
    } 

}

main{
    .about{
        display: flex;

        .greeting{
            justify-content: center;
                        
            h1{
                font-family: 'Abril Fatface', cursive;
                font-size:3.5rem;
                color: #444444;
                text-align: left;
                margin-top: 2.5rem;
                margin-left: 2rem;
                line-height: 4rem;                          
            }

            h2{
                font-family: 'Abril Fatface', cursive;
                font-weight: normal;
                font-size:1.5rem;
                color:#417a56;
                text-align: left;
                margin-left: 2rem;
                @media screen and (min-width: 1065px) {
                    margin-top:1.5rem;
                    margin-bottom:1.5rem;
                }
            }

        }

        .introduction{
            p{
                color: #444444;
                font-size: 1.1rem;
                line-height: 1.5rem;
                margin-left: 2rem;
                text-align: left;
            }            
        }
        

        .profile-picture{
            margin: 0 2rem;
            justify-self: flex-end;
            
            img{
            border-radius: 15px;
            margin-top: 3rem;
            width: 17rem;

            }
        }


    }

    div.skills{
        display: flex;
        width: 100%;
        height: 18rem;
        margin-top: 2rem;

        section.headline{
            background-color: #6c9f7f;
            width: 17%;
            h2{
            color: #fff;
            font-size: 2rem;
            margin-top:30px;
            margin-left: 10px;
            }
        }

        section.skill-icons{
            width: 83%;
            display: flex;
            justify-content: flex-start;
            flex-wrap:wrap;
            align-content: flex-start;               
            background-color: #caddd1;

            img{
                width: 5vw;                
            }
        }
    }

    section.project{
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2{
            font-size: 2rem;
            color:#6c9f7f;
            margin-bottom: 1.5rem;
        }

        section.cards{
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            justify-content: center;                   
           
            div.card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1 1 300px;
                align-items: center;
                margin-bottom: 1.5rem;
                img{
                width: 20vw;
                height: 22vw;
                }
                @media screen and (max-width:1141px) {
                img {
                width: 40vw;
                height: 44vw;  
                }
                }

                h4{
                margin: 1rem auto;
                }

                a{
                text-decoration: none;
                margin-top: 1rem;
                padding: 0.5rem 1.5rem;
                color: #fbf6f2;
                background-color: #6c9f7f;
                }

            }

        }

    }


    div.contact{
        display: block;
        width: 100%;

                

        h2 {
            color: #6c9f7f;
            font-size: 2rem;
            text-align: center;

        }

        form{

        display: block;
        text-align: center;
        margin: 0.5rem auto;

        input{
            margin-bottom: 0.5rem;

        }

        }

     }
    }




footer{
    width: 100%;
    height: 10vw;
    background-color: #6c9f7f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    div.logo{
        
        img{
        height:4vw;
        width:4vw;
        }
    }

    section.social-contacts{
     
             
        
        img{
            width:2.5vw;
            height:2.5vw;
            opacity:0.4;
            margin:0 0.5rem;
            

        }
    }

    div.copyright{
        color: #55514e;
        text-align: center;
    }


}
